.header {
    position: relative;
    float: right;
    margin: 15px;
    margin-bottom: 50px;
}

.odjava_btn {
    margin-left: 15px;
    background: red;
    color: white;
    position: relative;
    float: right;
    
}

button {
    width: 60px;
}
.delete_btn {
    background: red;
    color: white;

}

.edit_btn {
    background: orange;
    color: white;
    margin-left: 5px;
}

.save_btn {
    background: green;
    color: white;
    margin-left: 5px;
}

#container {
    padding-top: 15%;
    padding-left: 3%;
    padding-right: 3%;
}

thead {
    font-size: large;
}

tbody {
    font-size: medium;
}


* {
    background-color: lightgray;
}